*{
    padding: 0;
    margin: 0;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: Microsoft YaHei;
    overflow: hidden;
    background: #fff;
    line-height: normal;
}
html{
    font-size: 100px;
}
ul,li{
    list-style: none;
}
.clearfloat:after{
    display:block;clear:both;content:"";visibility:hidden;height:0
}
.clearfloat{
    zoom:1
}
#oMain{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
#circum{
    display: none;
    position: absolute;
    z-index: 1;
    top: 0.88rem;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 750px;
    overflow: hidden;
}
#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    background: #fff
}
#header{
    background: #fff;
    width: 100%;
    height: 0.88rem;
    color: #b6b6b7;
}
#header .bg{
    color: #0c80fe;
}
#header .bg:after{
    position: absolute;
    display:block;
    bottom: 0;
    content:"";
    height: 0.04rem;
    width: 2.52rem;
    background: #4587f6;
    left: 50%;
    margin-left: -1.26rem;

}
.init{
    width: 100%;
    background: #fff;
}
#header div{
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    text-align: center;
    line-height: 0.88rem;
}
.init #cirMap{
    height: 5.44rem;

}
#header  i{
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.2rem;
    width: 0.25rem;
    height: 0.4rem;
    background: url("img/huishandain@2x.png") no-repeat;
    background-size: 100% 100%;
}
#header .bg .quick_big_icon{
    background: url("img/shandain@2x.png") no-repeat;
    background-size: 100% 100%;
}
#map .BMap_scaleCtrl{
    display: block;
}
.anchorBL{
    display: none;
}
.color-block{
    width: 100%;
    height: 0.2rem;
    background:#ededed;
}
.nearby{
    height: 0.6rem;
    overflow: hidden;
    background: #fff;
    border-bottom: 1px solid #fdfdfd;
}
.nearby .nearby_l,.nearby .nearby_r{
    float: left;
    line-height: 0.6rem;
    padding-left:0.18rem;
}
.nearby .nearby_l span{
    font-size: 0.26rem;
    color: #6a6f6e;
    font-weight: 700;
}
.nearby .nearby_r span{
    font-size: 0.22rem;
    color: #a7a7a7;
}
.nearby .nearby_r i{
    display: inline-block;
    width: 0.16rem;
    height: 0.2rem;
    background: url("img/didian@2x.png") no-repeat;
    background-size: 100%;
}
.init .banner{
    height: 2.28rem;
    overflow: hidden;
}
.init .gps{
     height: 1rem;
    background: #fff;
}
.init .gps .gps_icon{
    width: 20%;
    height: 100%;

    float: left;
    text-align: center;
}
.init .gps .gps_icon a{
    display: block;
    width: 0.36rem;
    height: 0.36rem;
    margin: 0.1rem auto 0;
}
.init .gps .gps_icon span{
    font-size: 0.24rem;
    color: #a0a0a0;
}
.init .gps .gps_icon:nth-child(2) a{
    background: url("img/shangdian@2x.png") no-repeat;
    background-size: 100%;
}
.init .gps .gps_icon:nth-child(1) a{
    background: url("img/atm@2x.png") no-repeat;
    background-size: 100%;
}
.init .gps .gps_icon:nth-child(3) a{
    background: url("img/yiyuan@2x.png") no-repeat;
    background-size: 100%;
}
.init .gps .gps_icon:nth-child(4) a{
    background: url("img/jiudian@2x.png") no-repeat;
    background-size: 100%;
}
.init .gps .gps_icon:nth-child(5) a{
    background: url("img/cha-@2x.png") no-repeat;
    background-size: 100%;
}
.init .guess-like {
  padding-left: 0.18rem;
}
.init .guess-like .guess{
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.24rem;
    color: #999;
    border-bottom: 1px solid #e4e7e6;
}
.init .mui-indicator{
    background: #ededed;
}
.init .mui-slider-indicator .mui-active{
    background: #fe4f4f;
}
.guess-like ul li .mui-media-object{
    width: 1.44rem;
    height: 1.44rem;
    max-width: 1.44rem;
}
.guess-like .mui-table-view-cell{
    padding: 0.18rem 0 ;
}
.guess-like .mui-table-view-cell:after{
    left: 0;
}
.guess-like .mui-table-view-cell>a:not(.mui-btn){
    margin: -0.22rem 0;
}
.guess-like .mui-table-view .mui-media,.guess-like .mui-table-view  .mui-media-body{
    white-space:normal;
}
.guess-like .mui-media-body {
     font-size: 0.28rem;
     color: #515d66;
    font-weight: 700;
}
.guess-like .mui-media-body .mui-ellipsis{
    font-weight: 700;
    color: #f56742;
    font-size: 0.28rem;
}
.guess-like .mui-media-body .about{
    position: absolute;
    width:calc(100% - 1.64rem);
    bottom: 0.14rem;
}
.guess-like .mui-media-body .about span{
    display:block;
    float: left;
    width: 32%;
    font-size: 0.24rem;
    font-weight: 500;
}
.guess-like .mui-media-body .about span i{
    font-style: normal;
}
.guess-like .amap_lib_placeSearch{
    border: none;
}
.guess-like .poi-more{
    display: none;
}
.guess-like .amap_lib_placeSearch_page {
    display: none;
}
.guess-like .search{
    padding: 0.1rem 0;
    border-bottom: 1px solid #cacfd0;
    position: relative;
}
.guess-like .search i{
    display: block;
    width: 0.8rem;
    height: 0.7rem;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.35rem;
}
.guess-like .search .s-icon1{
    background: url("./img/searchIcon1.png");
    background-size: 100% 100% ;
}
.guess-like .search .s-icon2{
    background: url("./img/searchIcon2.png");
    background-size: 100% 100% ;
}
.guess-like .search .s-icon3{
    background: url("./img/searchIcon3.png");
    background-size: 100% 100% ;
}
.guess-like .search .s-icon4{
    background: url("./img/searchIcon4.png");
    background-size: 100% 100% ;
}
.guess-like .search .s-icon5{
    background: url("./img/searchIcon5.png");
    background-size: 100% 100% ;
}
.guess-like .search .s-icon6{
    background: url("./img/searchIcon6.png");
    background-size: 100% 100% ;
}
.guess-like .search .s-icon7{
    background: url("./img/searchIcon7.png");
    background-size: 100% 100% ;
}
.guess-like .search .s-icon8{
    background: url("./img/searchIcon8.png");
    background-size: 100% 100% ;
}
.guess-like .search .s-icon9{
    background: url("./img/searchIcon9.png");
    background-size: 100% 100% ;
}
.guess-like .search .s-icon10{
    background: url("./img/searchIcon10.png");
    background-size: 100% 100% ;
}
.guess-like .search span{
    font-size: 0.3rem;
    color: #525c66;
    display: inline-block;
    margin-left: 0.8rem;
}
.guess-like .search p{
    margin: 0 0 0  0.8rem;
    font-size: 0.25rem;
    line-height: 0.4rem;
}
.mui-slider-indicator .mui-indicator {
    display: inline-block;
    width: 0.12rem;
    height:0.12rem;
    margin: 0.02rem 0.12rem;
    -webkit-box-shadow: 0 0 1px 1px rgba(130,130,130,.7);
    box-shadow: 0 0 1px 1px rgba(130,130,130,.7);
}

#circum .amap_lib_placeSearch_poi{
    background: url("./img/dianji@2x.png")no-repeat;
    background-size: 100% 100%;
    color: #224b7f;
    height: 25px;
    width: 19px;
}
#circum .selected .amap_lib_placeSearch_poi{
    background-image: url("./img/xuanzhong@-12x.png");
    color: #ff5e4b;
}


#circum .poi-more{
    display: none;
}











#circum .amap-content-body {
    width: 6.74rem;
    background: url("./img/tankua@2x.png")no-repeat;
    background-size: 100% 100%;
    padding: 0.2rem 0 0.3rem;
    position: relative;
    border: none;
    box-shadow: none;
}
#circum .amap-lib-infowindow{
    background: rgba(255,255,255,0);
}
#circum .amap-combo-close {
    background: url("img/guanbitankuang@2x.png")no-repeat;
    background-size: 100% 100%;
    width: 0.5rem;
    height: 0.5rem;
    right: -0.25rem;
    top: -0.25rem;
}
#circum .amap-combo-sharp{
    display: none;
}
#circum .infowindow .infoL{
    width: 5rem;
    height: 100%;
    float: left;
    margin-left: 0.2rem;
}
#circum .infowindow  p{
    color: #fff;
    margin-top: 0.15rem;
}
#circum .infowindow  p.size{
    font-size: 0.35rem;
}
#circum .infowindow .infoR{
    width: 1.54rem;
    height: 100%;
    float: left;
}
#circum .infowindow .infoR p{
    text-align: center;
}
#circum .infowindow .locat{
    display: block;
    float: left;
    height: 0.32rem;
    width: 0.23rem;
    background: url("./img/didian-xiao@2x.png") no-repeat;
    background-size: 100% 100%;
    margin-right: 0.2rem;
}
#circum .infowindow .phone{
    display: block;
    float: left;
    height: 0.32rem;
    width: 0.23rem;
    background: url("./img/dianhua@2x.png") no-repeat;
    background-size: 100% 100%;
    margin-right: 0.2rem;
}
#circum .infowindow .goTo{
    display: block;
    width: 1.06rem;
    height: 0.5rem;
    background:url("./img/daozheliqu@2x.png")no-repeat;
    background-size: 100% 100%;
    margin: 0.2rem auto 0;
}

    /*----------------------------------快闪页面-----------------------------------------*/
.amap-container{height: 100%;}
/*地图样式*/
#quick .amap-logo ,#circum .amap-logo{
    display: none;
}
#quick .amap-copyright,#circum .amap-copyright{
   display:none!important;
}

#quick{
    width: 100%;
    height: 100%;
}
/*页面样式*/
#quick .quick_map{
    width: 100%;
    height: 5rem;
}
#quick .quick_logo{
    width: 100%;
    height: 0.66rem;
    background: #4587f6;
    position: relative;
}
#quick .call_quick{
    width: 4.2rem;
    height: 1.1rem;
    position: absolute;
    left: 50%;
    top:0;
    margin-left: -2.1rem;
    margin-top: -0.55rem;
    background: url("img/anniu@2x.png") no-repeat;
    background-size: 100% 100% ;
    z-index: 10;
}
#quick .quick_nav{
    background: #4587f6;
    width: 100%;
    position: relative;
}
#quick .quick_nav li{
    width:25%;
    float: left;
    height: 1.875rem;
}
#quick .quick_nav #lunch{
   background: url("img/g.png") no-repeat;
    background-size: 100% 100%;
}
#quick .quick_nav #flower{
    background: url("img/xianhualvzhi.png") no-repeat;
    background-size: 100% 100%;
}
#quick .quick_nav #fitment{
    background: url("img/zhuoyijiaju.png") no-repeat;
    background-size: 100% 100%;
}
#quick .quick_nav #drink{
    background: url("img/shipinyinliao.png") no-repeat;
    background-size: 100% 100%;
}
#quick .quick_nav #work{
    background: url("img/bangongyongpin.png") no-repeat;
    background-size: 100% 100%;
}
#quick .quick_nav #hardware{
    background: url("img/ITyingjian.png") no-repeat;
    background-size: 100% 100%;
}
#quick .quick_nav #artist{
    background: url("img/meigong.png") no-repeat;
    background-size: 100% 100%;
}
#quick .quick_nav #shoot{
    background: url("img/sheyingshexiang.png") no-repeat;
    background-size: 100% 100%;
}
#quick .quick_nav #security{
    background: url("img/baoan.png") no-repeat;
    background-size: 100% 100%;
}
#quick .quick_nav #cleaning{
    background: url("img/baojie.png") no-repeat;
    background-size: 100% 100%;
}#quick .quick_nav #express{
     background: url("img/kuaidiwuliu.png") no-repeat;
     background-size: 100% 100%;
 }
#quick .quick_nav #perform{
    background: url("img/jiemubiaoyan.png") no-repeat;
    background-size: 100% 100%;
}
#quick .quick_nav #model{
    background: url("img/moteliyi.png") no-repeat;
    background-size: 100% 100%;
}
#quick .quick_nav #translate{
    background: url("img/yuyanfanyi.png") no-repeat;
    background-size: 100% 100%;
}
#quick .quick_nav #volunteer{
    background: url("img/zhiyuanzhe.png") no-repeat;
    background-size: 100% 100%;
}
#quick .quick_nav #rent-car{
    background: url("img/zhuanchebaoche.png") no-repeat;
    background-size: 100% 100%;
}
#quick .quick_nav #preside{
    background: url("img/zhuchisiyi.png") no-repeat;
    background-size: 100% 100%;
}
#quick .quick_nav #shade{
    background: url("img/xuanzhong@2x.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    display: none;
}
#quick #quick_wapper{
    position: absolute;
    z-index: 1;
    top: 6.54rem;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 750px;
    overflow: hidden;
}
#quick #quick_scroll{
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    background: #fff
}

.infowindow{
    width: 200px;
    padding: 5px 3px;
}
.infowindow p{
    margin: 3px 0;
}










